* {
  font-family: fantasy;

  padding: 0;
  box-sizing: border-box;
}
body {
  background: repeating-linear-gradient(
    to left,
    rgb(255, 221, 0),
    rgb(66, 164, 235),
    rgb(195, 0, 255),
    rgb(255, 0, 200)
  );

  transition: all 15s;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table1 {
  margin: 0 auto;
  background: rgb(205, 205, 234, 0.4);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 10px;
  margin-top: 35px;
  border-radius: 25px;
}

input {
  background: rgba(18, 238, 238, 0.518);
  margin-right: 10px;
  border: 0;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  margin: 5px;
  box-shadow: 0px 0px 10px 5px rgb(124, 8, 124);
  text-align: center;
}
.a {
  position: relative;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 0.8px solid red;
  border-left: 1.5px solid rgb(0, 8, 255);
  border-right: 1.5px solid rgb(0, 255, 38);
  border-bottom: 3px solid rgb(238, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate();
  animation: hart 5s infinite reverse linear;
}
.btn {
  position: relative;
  right: 102px;
  top: -2px;
  background: red;
  position: ;
  background-color: rgb(160, 179, 197, 0);
  border: 0;
  z-index: 1;
}
.btn:hover {
  cursor: pointer;
}
@keyframes hart {
  0% {
    transform: rotate(25turn);
  }
}
.td1 {
  position: relative;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  background-color: rgba(228, 5, 165, 0.5);
  margin: 5px;
  padding: 8px;
  border: 5px solid rgb(205, 205, 234, 0.4);
}
.td1:hover {
  box-shadow: 0px 0px 25px 5px black;
}
.select {
  position: absolute;
  left: ;
  bottom: 50px;
}
